/* .testimonial{

} */

/* @media (max-width:750px) {
    .testimonial{
        position: fixed;
        background-color: #030B1E;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        overflow-y: auto;
        align-items: start;
    }
    
} */


.spin{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}