/* .testimonial{

} */

/* @media (max-width:750px) {
    .testimonial{
        position: fixed;
        background-color: #030B1E;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        overflow-y: auto;
        align-items: start;
    }
    
} */